html {
    font-size: 16px;
    font-family: 'roboto', sans-serif;
}
body {
    margin: 5rem 5rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
nav {
    display: flex;
    list-style: none;
}
nav a{
    margin-left: 4rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: underline;
    color: blue;
    font-weight:700;
}
h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
section {
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
}
.container {
    display: flex;
    justify-content: space-between;
}
.text {
    width: 67%;
    text-align: justify;
}
p {
    line-height: 2rem;
    margin: 0;
}
.middle_paragraph {
    margin: 1.5rem 0rem;
}
img {
  width: 100%;
  height: auto;  
}
.subhead {
    margin-top: 0rem;
    margin-bottom: 2rem;
}
.arrow{
   display: flex;
   text-align: center;
}
.arrow a {
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: red; /* change to black once links are added  */
}
.arrow a:hover{
    text-decoration: underline;
    color: blue;
}

/* Project-specific styles*/
.project {
    margin-bottom: 8rem;;   
}
.project_image{
    border: 1rem solid red; /* Remove after adding full screen popup on click in JS */
}