/* Common Stylings */

html {
    font-size: 16px;
    font-family: 'roboto', sans-serif;
}
body {
    margin: 5rem 5rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #f0e7d8;
    border-radius: 1rem;
    margin-bottom: 4rem;;
}
h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-left: 1rem;

}
nav {
    display: flex;
    list-style: none;
    margin-right: 1rem;
}
nav a{
    margin-left: 4rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: underline;
    color: blue;
    font-weight:700;
}
h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
section {
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
}
.container {
    display: flex;
    justify-content: space-between;
}
/* Unique homepage stylings */
.text {
    width: 67%;
    text-align: justify;
}
p {
    line-height: 2rem;
    margin: 0;
}
.middle_paragraph {
    margin: 1.5rem 0rem;
}
img {
  width: 100%;
  height: auto;  
  border-radius: 1rem;
}
.subhead {
    margin-top: 0rem;
    margin-bottom: 2rem;
}
.arrow{
   display: flex;
   text-align: center;
}
.arrow a {
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: red; /* change to black once links are added  */
}
.arrow a:hover{
    text-decoration: underline;
    color: blue;
}
.image p {
    font-size: 0.9rem;
    text-align: center;
}
.home_projects {
    position: relative;
    top: -7rem;
}
.home_skills {
    position: relative;
    top: -7rem;
}

/* Specific project page styles*/
.project h2 {
    margin-bottom: 2rem;;
}

.project {
    margin-bottom: 4rem;   
}
.project_image{
    border: 1rem solid red; /* Remove after adding full screen popup on click in JS */
}

/* Specific skills page styles*/
#skills_container {
    display: flex; 
    align-items: center;
    width: 100%;
}

.skills{
    margin: 4rem auto ;
    width: 80%;
    border: black solid 0.2rem;
    padding: 4rem;
    background-color: #56666b;
    color: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 5px #000000;
}

.skills p{
    margin-top: 3rem;
}

#skill_1, #skill_2, #skill_3, #skill_4, #skill_5 {
    visibility: hidden;
}

#left_arrow {
    visibility: hidden;
}

#left_arrow, #right_arrow {
    cursor: pointer;
   }

#left_arrow:hover, #right_arrow:hover{
    color: #DD614A;
} 

/* Unique ContactPage Stylings */
.contact_container {
    display: flex;
    justify-content: space-around;
}
.info{
    margin-bottom: 3rem;
    font-size: 1.17rem;
    font-weight: bold;
}
.info input {
    width: 10rem;
    height: 1.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}
textarea{
    font-size: 1.2rem;
    font-family: roboto;
}

button {
    font-size: 1.3rem;
    background-color: #dd614A;
    padding: 1rem;
    color: white;
    font-weight: 700;
    border-radius: 1rem;
    }